*{
    margin: 0px;
    padding: 0px;
}

/* banner */

.banner{
    background-image: url('../images/banner/banner1.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}
.banner-info{
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 230px 250px;
}

.banner-head{
    font-size: 65px;
    color: #151414;
    font-weight: 700px;
    margin-top: 0px;
    margin-bottom: 24px;
}
.banner-para{
    color: #444343;
    font-size: 16px;
    font-weight: 400px;
    margin-top: 0px;
    margin-bottom: 32px;
}
.banner-btn{
    background-color: #F15B22;
    border-radius: 5px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
}

/* banner-complete */

/* main profile section */

.profile{
    height: 100vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 110px 0px 0px 205px;
    
}
.profile-text{
    padding: 370px 322px;
}
.profile-text-h{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.profile-text-para{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    
}
ul li:before {
    content: '\2713';
    display: inline-block;
    color: green;
    padding: 0 6px 0 0;
    
  }
  
  ul li {
    list-style-type: none;
    font-size: 1em;
  }